@import "reset.css";
body {
    /* overflow: hidden; */
    background-color: #38ABFF;
    font-family: 'PT Mono', monospace;
  }

@font-face {
  font-family: 'PT Mono', monospace;
  src: url('.../fonts/PTMono-Regular.ttf');
}

h1 {
  font-size: max(4.5vw, 5vh);
  color: white;
  text-align: center;
  padding: 10vh 6vw 0;
  cursor: pointer;
}

  /* .ground {
    position: absolute;
    top: 1000px;
    background-color: #C0E3B9;
    height: 100vh;
  } */

.header {
  height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.ground {
  position: relative;
  background-color: #C0E3B9;
  height: 80vh;
}

.groundAnimals {
  position: absolute;
  width: 25vw;
  background-size: contain;
  background-repeat: no-repeat;
}

.redpanda {
  left: 10vh;
  top: 30vh;
  background-image: url(../pictures/redpanda_5.png);
  height: 45vh;
}

.tiger {
  left: 80vh;
  top: 25vh;
  background-image: url(../pictures/tiger_5.png);
  height: 55vh;
}

.panda {
  right: 10vh;
  top: 25vh;
  background-image: url(../pictures/panda_5.png);
  height: 55vh;
}


.oblako {
  width: min(60vh, 85vw);
}
.ave {
  position: absolute;
  top: 100px;
  left:0;
  background-image: url(../pictures/ave.svg);
  width: 50px;
  height: 40px;
  animation: fly 3s steps(5) infinite, flyMove 6s linear infinite;
  
}
@keyframes fly {
  from {
    background-position: 0 0;
    
  }
  to {
    background-position: 250px 0;
    
  }
}
@keyframes flyMove {
  from { left:0;}
  to {left: 100%}
}

.oblaka {
 overflow: hidden;
 padding-top: 10vh;
}

.oblako_1 {
  width: 60vh;
  align-items: center;
  position: relative;
  /* display: inline-block; */
}
.cloud_1 {
  width: 100%;
}
.move {
  transition: all 1s;
  animation-name: move_1;
  animation-duration: 18s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes move_1 {
  from {}
  50% {margin-left: 70%;}
  to {margin-left: 0;}
}
.animal {

  position: absolute;
  width: 30%;
  left: 50%;
  top: -10%;
  opacity: 0;
  transition: opacity 2s;
}
.an_1 {
  width: 70%;
  top: -30%;
}

.an_2 {
  width: 70%;
}

.an_3 {
  width: 20%;
}

.an_4 {
  width: 50%;
}

.an_5 {
  width: 50%;
}

.an_6 {
  width: 50%;
}

.an_7 {
  width: 50%;
}

.an_8 {
  width: 20%;
}

.an_9 {
  width: 20%;
}

.an_10 {
  width: 60%;
}

.an_11 {
  width: 60%;
}

.an_12 {
  width: 60%;
  top: -30%;
}

.an_13 {
  width: 60%;
  top: -30%;
}
.text {
  position: absolute;
  right: 100px;
  width: 60vh;
  color: white;
  font-size: 36px;
}

.o_header_right {
  position: absolute;
  width: 45%;
  right: 0vh;
  top: 40vh;
  transition: right 1s;
}

.o_header_left {
  position: absolute;
  width: 45%;
  left: 0vh;
  top: 40vh;
  transition: left 1s;
}


@media screen and (max-width: 420px) {
  h1 {font-size: 24px;}
}